.signup-container {
	background-image: url(./img/signup-backgroundimage.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/* .card-background {
	background-image: url(./img/img2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
} */
